<form enctype="multipart/form-data" method="post">
    {% csrf_token %} 

    <div class="mx-auto">
        {% for campo in formulario %}

        <div class="mb-3 mx-auto mr-8">
            <label for="" class="form-label">{{ campo.label }}</label>
            <div class="mb-3 ">
                {{ campo }}  
            </div>
        
        </div>
    
        <div class="col-12 help-text"> {{campo.errors}} </div>
        {% endfor %}
    </div>
    
    

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar informacion">
    <a
    name=""
    id=""
    class="btn btn-primary"
    href="{% url 'libros' %}"
    role="button"
    >Cancelar</a>
    
</form>